body {
    font-family: 'Roboto', sans-serif;
}


.callout-container {
    height: 100vh;

 background: url("../images/whisky.jpg") no-repeat bottom right fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;

  display: flex;
  align-items: center;
  justify-content: center;
}


.page-header {
    margin-bottom: 0;
    border-bottom: 0;
    text-align: center;
}

.page-header h2 {
    margin-top: 0;
}

.block-divider {
    width: 75px;
    height: 5px;
    border: 0;
    background-color: #444;
}

.content-container {
    padding-top: 75px;
    padding-bottom: 75px;
}

.container-wrapper-red {
   background-color: #f05f40; 
   color: white;
}

.feature i {
    margin-bottom: 20px;
    font-size: 45px;
    line-height: 45px;
}